body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    background-color: silver;

}

.screen {
    border-style: solid;
    border-width: 1px;
    padding: 4px;

    display: flex;
    flex-direction: column;
    width: 280px;

    margin-bottom: 10px;

    background-color: grey;
}

#upperScreen {
    border-style: solid;
    border-width: 1px;
    padding: 8px 10px;
    margin-bottom: 4px;
    background-color: azure;
}

#mainScreen {
    border-style: solid;
    border-width: 1px;
    padding: 20px 10px;
    background-color: azure;

}

.clear {
    display: flex;
    margin-bottom: 10px;
}

.ac, .ce {
    border-style: solid;
    border-width: 1px;
    flex-grow: 1;
    padding: 4px 10px 4px 10px;
    text-align: center;

}

.ac {
    margin-right: 20px;
    background-color: #9B2335;
    color: azure;
}

.ce {
    background-color: #EFC050;
    color: black;
}

.keys {
    border-style: solid;
    border-width: 1px;
    padding: 8px;
    background-color: grey;

}

.partOne {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.unit {
    display:flex;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    background-color: #DFCFBE;
}

.partTwo {
    margin-bottom: 8px;
}

.partTwo,
.partThree {
    display: flex;
    justify-content: space-between;
}

.cubeOne {
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    gap: 8px;
}

.cubeTwo {
    display: flex;
    width: 132px;
    justify-content: space-between;
}

.nineSix {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add {
    display:flex;
    width: 60px;
    height: 130px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    background-color: #DFCFBE;
}

.cubeThree {
    display: flex;
    flex-direction: column;
    height: 132px;
    justify-content: space-between;
}

.oneTwo {
    display: flex;
    justify-content: space-between;
}

.zero {
    display:flex;
    width: 130px;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    background-color: #DFCFBE;
}